n8n/NFCe.json
{
  "name": "NFCe",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sandbox.plugnotas.com.br/nfce",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "2da392a6-79d2-4304-a8b7-959572c7e44d"
            },
            {
              "name": "Header",
              "value": "x-api-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  [{\n    \"idIntegracao\": \"PEDIDO-\" + $json.body[0].idIntegracao,\n    \"natureza\": $json.body[0].natureza,\n    \"emitente\": {\n      \"cpfCnpj\": $json.body[0].emitente.cpfCnpj\n    },\n    \"itens\": $json.body[0].itens.map(item => ({\n      \"codigo\": item.codigo,\n      \"descricao\": item.descricao,\n      \"ncm\": item.ncm,\n      \"cfop\": item.cfop,\n      \"valorUnitario\": {\n        \"comercial\": item.valorUnitario.comercial,\n        \"tributavel\": item.valorUnitario.tributavel\n      },\n      \"valor\": item.valor,\n      \"tributos\": {\n        \"icms\": item.tributos.icms,\n        \"pis\": item.tributos.pis,\n        \"cofins\": item.tributos.cofins\n      }\n    })),\n    \"pagamentos\": [{\n      \"aVista\": true,\n      \"meio\": \"99\",\n      \"valor\": $json.body[0].pagamentos[0].valor\n    }],\n    \"responsavelTecnico\": $json.body[0].responsavelTecnico\n  }]\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        352
      ],
      "id": "14f32d87-62f1-46ca-8dde-5f2bdb646e04",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fiscal/emitir-nfce",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        352
      ],
      "id": "da56020d-e4e9-4c48-827e-450249bbd5eb",
      "name": "Webhook-fiscal/emitir-nfce",
      "webhookId": "faa99fa3-f510-4c32-b902-4a52167e050f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b05e61f2-51e0-4767-9c60-a400f3408018",
              "leftValue": "={{ $json.message }}",
              "rightValue": "em processamento",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "09cea0aa-75bf-435a-a359-6973604647f4",
      "name": "Emiss찾o OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        352
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "id_pedido_publico",
              "condition": "eq",
              "keyValue": "={{ $('Webhook-fiscal/emitir-nfce').item.json.body[0].idIntegracao.replace('PEDIDO-', '') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_fiscal",
              "fieldValue": "Processando"
            },
            {
              "fieldId": "id_nota_fiscal",
              "fieldValue": "={{ $json.documents[0].id }}"
            },
            {
              "fieldId": "protocolo_fiscal",
              "fieldValue": "={{ $node[\"HTTP Request\"].json.protocol }}"
            }
          ]
        }
      },
      "id": "c6f8e9d0-4173-4fdd-92e0-82a894d88937",
      "name": "Atualiza Pedido SUCESSO",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        256
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {}
      },
      "id": "a53ca3ae-d8b8-45d7-a214-4999aaf24470",
      "name": "Respond SUCESSO",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        704,
        256
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "id_pedido_publico",
              "condition": "eq",
              "keyValue": "={{ $('Webhook-fiscal/emitir-nfce').item.json.body[0].idIntegracao.replace('PEDIDO-', '') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_fiscal",
              "fieldValue": "Erro"
            },
            {
              "fieldId": "erro_fiscal",
              "fieldValue": "={{ $json.message }}"
            }
          ]
        }
      },
      "id": "320d95d2-b6dd-4d29-98c1-578c5f7ff590",
      "name": "Atualiza Pedido ERRO",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        496,
        448
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"message\": \"{{ $json.message }}\"}",
        "options": {}
      },
      "id": "ef4c4eb6-f6ae-4ad2-bec7-345d456aa160",
      "name": "Respond FALHA",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        704,
        448
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sandbox.plugnotas.com.br/empresa",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "2da392a6-79d2-4304-a8b7-959572c7e44d"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"endereco\": {\n    \"codigoPais\": \"1058\",\n    \"descricaoPais\": \"Brasil\",\n    \"tipoLogradouro\": \"Avenida\",\n    \"logradouro\": \"T-7\",\n    \"numero\": \"371\",\n    \"complemento\": \"Quadra R-36, Lote 01/02, Sala 1013\",\n    \"bairro\": \"Setor Bueno\",\n    \"codigoCidade\": \"5208707\",\n    \"descricaoCidade\": \"Goi창nia\",\n    \"estado\": \"GO\",\n    \"cep\": \"74210265\"\n  },\n  \"nfce\": {\n    \"config\": {\n      \"producao\": false,\n      \"numeracao\": [],\n      \"sefaz\": {\n        \"idCodigoSegurancaContribuinte\": \"000001\",\n        \"codigoSegurancaContribuinte\": \"GPB0J244E983498-1342-9J42-N823-J842I4384B32\"\n      }\n    },\n    \"ativo\": true,\n    \"tipoContrato\": 0\n  },\n  \"cpfCnpj\": \"48191554000140\",\n  \"inscricaoEstadual\": \"ISENTO\",\n  \"certificado\": \"629d6abc12832a0d312345678\",\n  \"razaoSocial\": \"UP TECNOLOGY LTDA\",\n  \"simplesNacional\": true,\n  \"regimeTributario\": 1\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        -16
      ],
      "id": "7f9fa27a-d7db-46cd-897b-4d6d20caadf9",
      "name": "CADASTRAR-EMPRESA"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fiscal/retorno-status",
        "options": {}
      },
      "id": "1736143d-ea83-47b3-9c33-4cb62ec7f275",
      "name": "Webhook-Retorno-Fiscal",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        576
      ],
      "webhookId": "4a2783b2-4665-4126-83b4-809207e347e1"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "id_nota_fiscal",
              "condition": "eq",
              "keyValue": "={{ $json.body.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status_fiscal",
              "fieldValue": "={{ $json.body.status === 'CONCLUIDO' ? 'Emitida' : 'Erro' }}"
            },
            {
              "fieldId": "id_nota_fiscal",
              "fieldValue": "={{ $json.body.id }}"
            },
            {
              "fieldId": "erro_fiscal",
              "fieldValue": "={{ $json.body.status !== 'CONCLUIDO' ? $json.body.mensagem : null }}"
            },
            {
              "fieldId": "pdf_url",
              "fieldValue": "={{ $json.body.pdf }}"
            },
            {
              "fieldId": "xml_url",
              "fieldValue": "={{ $json.body.xml }}"
            }
          ]
        }
      },
      "id": "f02076b2-21d0-4e56-acbc-ee00c795e13a",
      "name": "Atualiza Status Final da Nota",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        112,
        576
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.sandbox.plugnotas.com.br/empresa/48191554000140/webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "2da392a6-79d2-4304-a8b7-959572c7e44d"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://n8n-webhook.uptecnology.com.br/webhook/fiscal/retorno-status"
            },
            {
              "name": "method",
              "value": "POST"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        160
      ],
      "id": "cfb31eb5-bc3a-4f8f-92cc-15caa9439812",
      "name": "INFORMAR-URL-STATUS"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"fileData\": \"{{ $json.data }}\",\n  \"fileName\": \"{{ $('Busca Documento na PlugNotas').item.binary.data.fileName }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        768
      ],
      "id": "2c6a23fe-cc2f-4fce-bd13-f85933844cc4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "url": "={{ $json.body.url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "2da392a6-79d2-4304-a8b7-959572c7e44d"
            },
            {
              "name": "Header",
              "value": "x-api-key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        768
      ],
      "id": "768217ae-efbe-4f4c-82ff-e108206d0e62",
      "name": "Busca Documento na PlugNotas"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fiscal/download",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9fdc03a8-bbc1-4871-9cf4-c796e26902fb",
      "name": "Webhook-Busca-Documentos",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        768
      ],
      "webhookId": "4a2783b2-4665-4126-83b4-809207e347e1"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        320,
        768
      ],
      "id": "19481982-f8d7-4b4b-8157-bbd302931d1f",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Emiss찾o OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-fiscal/emitir-nfce": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emiss찾o OK?": {
      "main": [
        [
          {
            "node": "Atualiza Pedido SUCESSO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Atualiza Pedido ERRO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Pedido SUCESSO": {
      "main": [
        [
          {
            "node": "Respond SUCESSO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualiza Pedido ERRO": {
      "main": [
        [
          {
            "node": "Respond FALHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-Retorno-Fiscal": {
      "main": [
        [
          {
            "node": "Atualiza Status Final da Nota",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca Documento na PlugNotas": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-Busca-Documentos": {
      "main": [
        [
          {
            "node": "Busca Documento na PlugNotas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 60
  },
  "versionId": "9fa8be9b-c6d5-4024-80a3-6d2be2ee637d",
  "meta": {
    "instanceId": "f35c92533cab0256f88836bedf74c86f0e573222ebaea24517d8f39614f07eb6"
  },
  "id": "CCBYPvZQh6Yk6WYG",
  "tags": []
}