n8n/PEDIDOS.json
{
  "name": "PEDIDOS",
  "nodes": [
    {
      "parameters": {
        "content": "# SUPABASE \n",
        "height": 1260,
        "width": 700,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        32
      ],
      "id": "23a04bd3-813b-4d06-b0f6-fc108fc39ad0",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# --- PEDIDOS ---",
        "height": 100,
        "width": 700,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        144
      ],
      "id": "0b7e1769-726e-4e66-9846-0ae773458b6a",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "\n# (Caixa) Atendente lança um pedido de Mesa ou Balcão >>\ncreate_order_internal",
        "height": 140,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -896,
        288
      ],
      "id": "7ee09450-1933-4af8-989e-b217cf17c54f",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "\n# (Admin/Cozinha) Atualiza o status de um pedido (ex: 'preparando', 'entregue') >>\nupdate_order_status",
        "height": 140,
        "width": 760,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -944,
        496
      ],
      "id": "06a716e1-7b89-4679-a273-745cd57823d4",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "\n# (Cliente) Busca o status de um pedido específico >>\nget_order_status",
        "height": 140,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -896,
        688
      ],
      "id": "c0570da6-5c2f-44b4-a393-6c52a4c9694e",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        288,
        688
      ],
      "id": "c00064c9-3cd2-403b-b7b8-af9c9ed25ef8",
      "name": "Respond8",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "path": "pedido/buscar-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -112,
        688
      ],
      "id": "6e59edcc-823e-4330-b5a9-4e47244eb4ef",
      "name": "Webhook-pedido-buscar-status",
      "webhookId": "5bcc7d45-a975-4e09-8589-e58ff8d7fff9"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "view_pedidos_consulta",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "id_pedido_publico",
              "condition": "like",
              "keyValue": "={{ $json.query.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        688
      ],
      "id": "48a11c28-8efc-44ae-9e59-c3158357c5cb",
      "name": "pedido-buscar-status",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4d436358-09e0-4540-9ebe-c825d73c7eca",
              "name": "total_calculado",
              "value": "={{ $json.body.itens.reduce((acc, item) => acc + (item.quantidade * item.preco_unitario), 0) }}",
              "type": "string"
            },
            {
              "id": "6b68779e-2b98-4052-98f5-bfd4cb8d6729",
              "name": "id_pedido_publico",
              "value": "={{ Math.floor(Math.random() * 900000) + 100000 }}",
              "type": "string"
            },
            {
              "id": "ce9870a3-e8a9-467b-966f-3de4c6a32ff9",
              "name": "body.nome_cliente",
              "value": "={{ $json.body.nome_cliente }}",
              "type": "string"
            },
            {
              "id": "b56ec774-2bd8-46cd-8fa3-d58f736e0bc0",
              "name": "body.whatsapp_cliente",
              "value": "={{ $json.body.whatsapp_cliente }}",
              "type": "string"
            },
            {
              "id": "7b2ca56b-ce3e-438f-bf8b-916c81a30829",
              "name": "body.origem",
              "value": "={{ $json.body.origem }}",
              "type": "string"
            },
            {
              "id": "225fc7c2-17b1-48a6-9bad-a302639c7c99",
              "name": "body.itens",
              "value": "={{ $json.body.itens }}",
              "type": "array"
            },
            {
              "id": "7a8a254b-7701-4cab-8e03-cda981ca87ff",
              "name": "body.rua",
              "value": "={{ $json.body.rua }}",
              "type": "string"
            },
            {
              "id": "964f2b25-ad96-4c94-8732-19c606227f9f",
              "name": "body.quadra",
              "value": "={{ $json.body.quadra }}",
              "type": "string"
            },
            {
              "id": "1629ab8a-78ab-4313-9f09-b69ca3364094",
              "name": "body.lote",
              "value": "={{ $json.body.lote }}",
              "type": "string"
            },
            {
              "id": "5b874a01-7c52-4a0f-91a7-9cb43aaf7298",
              "name": "body.bairro",
              "value": "={{ $json.body.bairro }}",
              "type": "string"
            },
            {
              "id": "ca8a819a-b74b-4f29-9901-d4d4a73ab6e8",
              "name": "body.referencia",
              "value": "={{ $json.body.referencia }}",
              "type": "string"
            },
            {
              "id": "25b8ac55-55b3-4dca-9911-edff504591ec",
              "name": "body.itens[0].produto_id",
              "value": "={{ $json.body.itens[0].produto_id }}",
              "type": "number"
            },
            {
              "id": "17d54fb1-24f2-467e-ae16-ba6b62e02e95",
              "name": "body.itens[0].quantidade",
              "value": "={{ $json.body.itens[0].quantidade }}",
              "type": "number"
            },
            {
              "id": "509d55f3-8a74-474f-99a6-fe6d6cebf572",
              "name": "confirmado",
              "value": "confirmado",
              "type": "string"
            },
            {
              "id": "a2ce71e6-4c1d-4ba4-b993-0fcdc1dfadfd",
              "name": "body.nome_cliente",
              "value": "={{ $json.body.nome_cliente }}",
              "type": "string"
            },
            {
              "id": "37a553a0-9f12-4c4d-a0ca-333ac49a8959",
              "name": "body.whatsapp_cliente",
              "value": "={{ $json.body.whatsapp_cliente }}",
              "type": "string"
            },
            {
              "id": "ff2ccb7d-9fd4-47d9-8823-a863797fc7a9",
              "name": "body.forma_pagamento",
              "value": "={{ $json.body.forma_pagamento }}",
              "type": "string"
            },
            {
              "id": "39285a17-00b9-4e33-8539-0edee4117a75",
              "name": "body.observacoes",
              "value": "={{ $json.body.observacoes }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        1600
      ],
      "id": "2ceb756b-4a85-43c5-877a-9c0a4d88630f",
      "name": "Cálculo do Total",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "# CRIA O PEDIDO EXTERNO",
        "height": 540,
        "width": 1580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        1360
      ],
      "id": "8f52551b-8449-4935-80b1-63d782a3c67f",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "# BUSCA O PEDIDO E ENVIA PRA COZINHA",
        "height": 380,
        "width": 1580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        1936
      ],
      "id": "77983bb4-8893-4241-9941-e15f26203bdc",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido/criar-app",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -640,
        1600
      ],
      "id": "2758293a-daa0-43dc-a919-3754af540d08",
      "name": "Webhook-pedido",
      "webhookId": "79d7cc69-1d23-47bd-8007-404e91c9f62e"
    },
    {
      "parameters": {
        "path": "pedidos/listar-todos",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -592,
        2064
      ],
      "id": "b5c8bb85-2a45-4050-b9b5-b1f5ee7163eb",
      "name": "Webhook-listar-todos",
      "webhookId": "79d7cc69-1d23-47bd-8007-404e91c9f62e"
    },
    {
      "parameters": {
        "tableId": "pedidos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_pedido_publico",
              "fieldValue": "={{ $('Cálculo do Total').item.json.id_pedido_publico }}"
            },
            {
              "fieldId": "nome_cliente",
              "fieldValue": "={{ $('Cálculo do Total').item.json.body.nome_cliente }}"
            },
            {
              "fieldId": "whatsapp_cliente",
              "fieldValue": "={{ $json.body.whatsapp_cliente }}"
            },
            {
              "fieldId": "total",
              "fieldValue": "={{ $('Cálculo do Total').item.json.total_calculado }}"
            },
            {
              "fieldId": "origem",
              "fieldValue": "={{ $('Cálculo do Total').item.json.body.origem }}"
            },
            {
              "fieldId": "rua",
              "fieldValue": "={{ $('Cálculo do Total').item.json.body.rua }}"
            },
            {
              "fieldId": "quadra",
              "fieldValue": "={{ $('Cálculo do Total').item.json.body.quadra }}"
            },
            {
              "fieldId": "lote",
              "fieldValue": "={{ $('Cálculo do Total').item.json.body.lote }}"
            },
            {
              "fieldId": "referencia",
              "fieldValue": "={{ $('Cálculo do Total').item.json.body.referencia }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $('Cálculo do Total').item.json.confirmado }}"
            },
            {
              "fieldId": "bairro",
              "fieldValue": "={{ $json.body.bairro }}"
            },
            {
              "fieldId": "forma_pagamento",
              "fieldValue": "={{ $json.body.forma_pagamento }}"
            },
            {
              "fieldId": "observacoes",
              "fieldValue": "={{ $json.body.observacoes }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -256,
        1600
      ],
      "id": "bf6852b1-70cb-48a3-bcaa-f5bc4c68ec29",
      "name": "create_order",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.itens",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        272,
        1600
      ],
      "id": "fb5b494c-1f71-473c-a931-24cc667098ad",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "tableId": "itens_pedido",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pedido_id",
              "fieldValue": "={{ $('junta-itens').item.json.id_do_pedido }}"
            },
            {
              "fieldId": "produto_id",
              "fieldValue": "={{ $json[\"body.itens\"].produto_id }}"
            },
            {
              "fieldId": "quantidade",
              "fieldValue": "={{ $json[\"body.itens\"].quantidade }}"
            },
            {
              "fieldId": "preco_unitario",
              "fieldValue": "={{ $json[\"body.itens\"].preco_unitario }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        1616
      ],
      "id": "d784b250-ec6c-4e78-9d3b-82742463ceb5",
      "name": "registra-itens",
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00621c06-61cc-4b33-a5b3-b2ad4234572e",
              "name": "body.itens",
              "value": "={{ $('Cálculo do Total').item.json.body.itens }}",
              "type": "array"
            },
            {
              "id": "8fe6fac8-8322-43d6-92b1-b401b9463205",
              "name": "id_do_pedido",
              "value": "={{ $('create_order').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        1600
      ],
      "id": "2e320181-24b1-4845-9efc-817ea68fa78a",
      "name": "junta-itens"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        1600
      ],
      "id": "1ca6d831-281d-4f5c-a1cb-9a8c5707175a",
      "name": "LoopItens"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"id_pedido_publico\": \"{{ $('Cálculo do Total').item.json.id_pedido_publico }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        1424
      ],
      "id": "8f33bf3b-7945-4899-9f7b-cd97ce122ddd",
      "name": "Respond-itens"
    },
    {
      "parameters": {
        "content": "# ENVIAR STATUS WHATSAPP",
        "height": 620,
        "width": 1580,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        2368
      ],
      "id": "41158303-faed-4bca-a781-5e7434d1d913",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "EM_PREPARO",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "5105ec25-a40e-4a63-bb01-abba57c348e1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Em preparo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "788e8281-1250-4a9e-b67a-18a8159a5b10",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "PRONTO_PARA_ENTREGA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Esperando entregador"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5925ed89-26b3-4789-9411-8856b9bc5ead",
                    "leftValue": "={{ $json.body.status }}",
                    "rightValue": "A_CAMINHO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Saiu para entrega"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -368,
        2608
      ],
      "id": "e1b8367f-63f2-46c9-81cf-631d820a3477",
      "name": "Switch"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido/enviar-status-whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -576,
        2624
      ],
      "id": "f63addbd-9e01-4e03-a661-2bfd8056e63e",
      "name": "Webhook-send-whatsapp-status",
      "webhookId": "79d7cc69-1d23-47bd-8007-404e91c9f62e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4238038-f8db-4712-a77e-5db773f44c69",
              "name": "boa_noticia",
              "value": "Boas notícias, ... seu pedido foi confirmado e já está sendo preparado! 👨‍🍳🔥",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        2464
      ],
      "id": "5a4bf961-113d-4f7b-afad-17bb0334db60",
      "name": "EM PREPARO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ecdb9cab-6e01-4091-961f-5dcbf474dca0",
              "name": "pronto",
              "value": "🥳 Seu pedido está pronto!  Já estamos embalando para o entregador.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        2624
      ],
      "id": "53ba3720-d7ca-4c07-820d-5d1d2f390d5c",
      "name": "PRONTO"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ff1c8cd-0d9c-4d61-bea8-bc269095b02f",
              "name": "a_caminho",
              "value": "Pode colocar a mesa! 🛵💨 Nosso entregador já saiu com seu pedido.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        2784
      ],
      "id": "ab434a5b-c51c-4982-863c-c3d2c11ffcfc",
      "name": "A CAMINHO"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-up.uptecnology.com.br/message/sendText/food",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=31598AB10245-41AE-9BF9-EEA05FCF4CCE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=55{{ $('Cálculo do Total').item.json.body.whatsapp_cliente }}@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "=👋 Oii,  {{ $('Cálculo do Total').item.json.body.nome_cliente }}\n\nRecebemos seu pedido e ele já está na nossa fila!\nNúmero *{{ $('Cálculo do Total').item.json.id_pedido_publico }}*\n\nEnviaremos todas as atualizações do seu pedido diretamente aqui no seu WhatsApp.\n\nMas, tem a opção de acompanhar pelo nosso app\n\n👇\nhttps://food.uptecnology.com.br/acompanhar.html\n\nAgradecemos a preferência! 😊"
            },
            {
              "name": "delay",
              "value": "={{ 5200 }}"
            },
            {
              "name": "presence",
              "value": "composing"
            }
          ]
        },
        "options": {}
      },
      "id": "9af26b86-e231-4b74-8522-b31333f7ee43",
      "name": "Evolution-criar-id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        1600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-up.uptecnology.com.br/message/sendText/food",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=31598AB10245-41AE-9BF9-EEA05FCF4CCE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "=55{{ $('Webhook-send-whatsapp-status').item.json.body.whatsapp_cliente }}@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "={{ $json.mensagem_final }}"
            },
            {
              "name": "delay",
              "value": "={{ 5200 }}"
            },
            {
              "name": "presence",
              "value": "composing"
            }
          ]
        },
        "options": {}
      },
      "id": "6692a6c7-c677-46d9-944e-2534ebc5e52a",
      "name": "Evolution-status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        2624
      ]
    },
    {
      "parameters": {
        "content": "# ENVIAR PEDIDO PARA ENTREGADOR ========= DAR BAIXA NO PEDIDO ENTREGUE",
        "height": 320,
        "width": 1580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        3024
      ],
      "id": "62c9f005-159e-417d-b687-97ef8433f9d5",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "delivery/send-details",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -608,
        3120
      ],
      "id": "ada81e69-e3ed-4055-b26e-ea517f362127",
      "name": "Webhook-send-details",
      "webhookId": "79d7cc69-1d23-47bd-8007-404e91c9f62e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://evolution-up.uptecnology.com.br/message/sendText/food",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "=31598AB10245-41AE-9BF9-EEA05FCF4CCE"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.entregador_id }}@s.whatsapp.net"
            },
            {
              "name": "text",
              "value": "=🛵 *NOVA ENTREGA DISPONÍVEL!*\n     PEDIDO:  *{{ $json.id_pedido_publico }}*\n\n*CLIENTE:* \n{{ $json.nome_cliente }}\n\n📌==================\n\n🏡 *ENDEREÇO:*\n*{{ $json.bairro }}*\n*Rua:* {{ $json.rua }}, Qd. {{ $json.quadra }}, Lote {{ $json.lote }}\n\n✅ *REFERÊNCIA:* \n{{ $json.referencia }}\n\n*VALOR:* R$: *{{ $json.total }}*\n\n*CONTATO:* {{ $json.whatsapp_cliente }}\n\n💰 *FORMA DE PAGAMENTO:* {{ $json.forma_pagamento }}"
            },
            {
              "name": "delay",
              "value": "={{ 5200 }}"
            },
            {
              "name": "presence",
              "value": "composing"
            }
          ]
        },
        "options": {}
      },
      "id": "56ab8142-734e-4441-8c4a-f15fe3088f20",
      "name": "Evolution-entregador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        3120
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -48,
        3120
      ],
      "id": "6cf618b3-a215-4a9b-a426-41dcb9a95d40",
      "name": "Respond entregador"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -192,
        2064
      ],
      "id": "5dfef97b-6c82-423d-94f6-f9b6f1371310",
      "name": "Respond-pedidos"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "view_pedidos_ativos",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        2064
      ],
      "id": "3e3e8000-32a6-4e47-b22d-ee1426ac784b",
      "name": "Get many rows",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega todos os dados que chegam do nó 'Merge'\nconst dadosEntrada = $input.item.json;\n\n// Pega o nome do cliente para uma mensagem mais pessoal\nconst nomeCliente = dadosEntrada.nome_cliente || 'Cliente';\n\n// Descobre qual das mensagens existe e a armazena.\n// O \"||\" funciona como um \"OU\". Ele pega o primeiro valor que não for nulo/vazio.\n// Isso torna o código à prova de futuro. Se adicionar um novo status, é só adicionar aqui.\nlet textoDaMensagem = dadosEntrada.boa_noticia || dadosEntrada.pronto || dadosEntrada.a_caminho || 'Seu pedido teve uma atualização.';\n\n// Monta o objeto de saída.\n// A mágica do \"...dadosEntrada\" é que ele copia todos os campos que já vieram\n// (como whatsapp_cliente, id_pedido_publico, etc.) e nós apenas adicionamos o novo campo.\nconst dadosSaida = {\n  ...dadosEntrada,\n  mensagem_final: textoDaMensagem\n};\n\n// Retorna o objeto completo e padronizado para o próximo nó.\nreturn dadosSaida;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        2624
      ],
      "id": "80a4e795-204d-4560-9fd1-883bfaf1bb24",
      "name": "balaioDeItens"
    },
    {
      "parameters": {
        "content": "# LANÇAR PEDIDO INTERNO",
        "height": 540,
        "width": 2240,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        4256
      ],
      "id": "f2006411-9e25-4c5a-9e65-da39678b0ce6",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "# CANCELAR PEDIDO INTEIRO",
        "height": 428,
        "width": 1440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -656,
        4832
      ],
      "id": "17697e8d-7166-4366-b56b-8d477b0c77fa",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido/atualizar-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bab1d13f-3fa7-4037-8c86-34bc1f4ce2bf",
      "name": "Webhook-pedido-atualizar-status",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -112,
        496
      ],
      "webhookId": "5bcc7d45-a975-4e09-8589-e58ff8d7fff9"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.body.status }}"
            },
            {
              "fieldId": "forma_pagamento",
              "fieldValue": "={{ $json.body.forma_pagamento }}"
            }
          ]
        }
      },
      "id": "580397b9-817b-4ff8-82d1-d169e8826f06",
      "name": "pedido-atualizar-status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        496
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n    \"success\": true,\n    \"message\": \"Status atualizado com sucesso!\"\n}",
        "options": {}
      },
      "id": "b5c59bb2-64ec-433c-9e05-a05e3a948b54",
      "name": "Respond6",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        288,
        496
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"success\": true, \"message\": \"Pedido cancelado com sucesso!\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        5040
      ],
      "id": "a54233aa-c031-48f5-b539-939f2cb9f048",
      "name": "Respond Success3"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "itens_pedido",
        "filters": {
          "conditions": [
            {
              "keyName": "pedido_id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -160,
        5024
      ],
      "id": "c73eedb9-ec89-492e-b45d-15f712bb01bd",
      "name": "Get_Todos_Itens_Do_Pedido2",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido/cancelar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -576,
        5024
      ],
      "id": "335719e3-63a4-4dfc-b771-a3b2e344efb5",
      "name": "Webhook-cancelar-pedido-inteiro",
      "webhookId": "79d7cc69-1d23-47bd-8007-404e91c9f62e"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.pedido_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "CANCELADO"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -368,
        5024
      ],
      "id": "cc99f456-91e2-4b3d-bdea-243121376b3c",
      "name": "Update_Status_Pedido_Cancelado",
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "95255542-b425-4e17-a6cc-c996f2abe7d2",
              "leftValue": "={{ $('Update_Status_Pedido_Cancelado').item.json.origem }}",
              "rightValue": "=MESA",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        48,
        5024
      ],
      "id": "315bce32-9a21-4d9c-b2df-7fd147eaa6d2",
      "name": "IF_Pedido_Tem_Mesa"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "mesas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook-cancelar-pedido-inteiro').item.json.body.id_mesa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "LIVRE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        4896
      ],
      "id": "2629eb9b-e9d3-4c68-b67f-cc2d0d8f3698",
      "name": "Update_Status_Mesa_Livre",
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido/lancar-interno",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dbf77d33-7e09-4b55-bcf0-7b547d92e3c1",
      "name": "Webhook: Lançar Pedido Interno",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -560,
        4400
      ],
      "webhookId": "9d8b7a0c-6f1e-4c7b-8a9d-5f4a1b2c3d0e"
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $input.item;\nconst randomPart = Math.random().toString(36).substr(2, 6).toUpperCase();\ninputItem.json.publicId = randomPart;\nreturn inputItem;"
      },
      "id": "815400b1-c981-4652-b8be-804d69d7946e",
      "name": "1. Generate Public ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        4400
      ]
    },
    {
      "parameters": {
        "tableId": "pedidos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_pedido_publico",
              "fieldValue": "={{ $json.publicId }}"
            },
            {
              "fieldId": "nome_cliente",
              "fieldValue": "={{ $json.body.origem === 'MESA' ? 'Mesa ' + $json.body.numero_mesa : 'Balcão' }}"
            },
            {
              "fieldId": "total",
              "fieldValue": "={{ $json.body.total }}"
            },
            {
              "fieldId": "origem",
              "fieldValue": "={{ $json.body.origem }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "CONFIRMADO"
            },
            {
              "fieldId": "id_mesa",
              "fieldValue": "={{ $json.body.id_mesa }}"
            },
            {
              "fieldId": "whatsapp_cliente",
              "fieldValue": "PED-INTERNO"
            }
          ]
        }
      },
      "id": "1f3c77cd-6c42-45de-a87b-672230ee131a",
      "name": "2. Create Pedido (Master)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -112,
        4400
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "itensParaLoop",
        "options": {}
      },
      "id": "d4f4b5cb-6954-48f6-9aae-2d68aa1529cf",
      "name": "4. Split Out Itens",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        320,
        4400
      ]
    },
    {
      "parameters": {
        "tableId": "itens_pedido",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pedido_id",
              "fieldValue": "={{ $('3. Prepare for Loop').item.json.id_pedido_criado }}"
            },
            {
              "fieldId": "produto_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "quantidade",
              "fieldValue": "={{ $json.quantidade }}"
            },
            {
              "fieldId": "preco_unitario",
              "fieldValue": "={{ $json.preco }}"
            }
          ]
        }
      },
      "id": "ff8a6fde-3920-47ba-aa0e-75c422f9c578",
      "name": "5. Registrar Item do Pedido",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        880,
        4528
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "8f548e59-6baa-40b6-bad7-6bcf3f7b2034",
      "name": "6. Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        592,
        4400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "mesas",
        "filters": {
          "conditions": [
            {
              "keyName": "numero_mesa",
              "condition": "eq",
              "keyValue": "={{ $('Webhook: Lançar Pedido Interno').item.json.body.numero_mesa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "OCUPADA"
            }
          ]
        }
      },
      "id": "b50dd099-78f5-45ff-a013-8f3c403324b0",
      "name": "8. Update Mesa para Ocupada",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1104,
        4288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {}
      },
      "id": "9ba94ba9-0fbf-4128-a729-de5d732e9cef",
      "name": "9. Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1120,
        4496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6e338c23-d6c6-43b9-a2e6-51d08d98d003",
              "name": "itensParaLoop",
              "value": "={{ $('1. Generate Public ID').item.json.body.itens }}",
              "type": "array"
            },
            {
              "id": "87c53d06-1875-498c-be3a-67a6d8d64111",
              "name": "id_pedido_criado",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "e98e0a29-f472-4d7a-a629-9e798e3b5e1a",
              "name": "id_mesa_do_pedido",
              "value": "={{ $('1. Generate Public ID').item.json.body.id_mesa }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bf0d049d-d2fe-455e-90eb-65739b46e1dc",
      "name": "3. Prepare for Loop",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        4400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10257b76-ad34-4dee-9cad-b9d14d00aa4d",
              "leftValue": "={{ $('Webhook: Lançar Pedido Interno').item.json.body.numero_mesa }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        4368
      ],
      "id": "03ea3df6-d51f-4562-b39a-d774ea9578f2",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Pedido finalizado com sucesso!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        592,
        3120
      ],
      "id": "c3965483-5efe-4f34-a416-9e1dd0ce7471",
      "name": "Respond entregador1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido/atualizar-entregador",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        3120
      ],
      "id": "ebe37584-cd9c-4b50-bc9d-070c766ba5ba",
      "name": "Webhook-atualizar-entregador",
      "webhookId": "79d7cc69-1d23-47bd-8007-404e91c9f62e"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "id_pedido_publico",
              "condition": "eq",
              "keyValue": "={{ $json.body.codigo_pedido }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "ENTREGUE"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        400,
        3120
      ],
      "id": "895644f1-3acb-462c-9eb9-f3755af988da",
      "name": "atualizar-entregador",
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "\n# BUSCA POR DATA >>\nget_finalized_orders_by_date",
        "height": 140,
        "width": 720,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -896,
        912
      ],
      "id": "5673165b-3f8c-4f1a-9a3d-f0d6e4c74fbe",
      "name": "Sticky Note55"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "2ba40146-e928-46c5-98a0-4be5bf679c54",
      "name": "3. Split Out Itens",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -32,
        3552
      ]
    },
    {
      "parameters": {
        "tableId": "itens_pedido",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pedido_id",
              "fieldValue": "={{ $json.pedido_id }}"
            },
            {
              "fieldId": "produto_id",
              "fieldValue": "={{ $json.produto_id }}"
            },
            {
              "fieldId": "quantidade",
              "fieldValue": "={{ $json.quantidade }}"
            },
            {
              "fieldId": "preco_unitario",
              "fieldValue": "={{ $json.preco_unitario }}"
            }
          ]
        }
      },
      "id": "b336acd4-737d-4e2b-b712-c3c5a122b784",
      "name": "4. Supabase: Insere Serviço",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        176,
        3552
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {},
      "id": "fee07352-3796-4272-aa29-e0a5a33fbf24",
      "name": "5. NoOp (Junta o Loop)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        368,
        3552
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('1. Webhook: Finalizar com Serviços').item.json.body.pedido_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "total",
              "fieldValue": "={{ $('1. Webhook: Finalizar com Serviços').item.json.body.novo_total }}"
            },
            {
              "fieldId": "forma_pagamento",
              "fieldValue": "={{ $('1. Webhook: Finalizar com Serviços').item.json.body.forma_pagamento }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "ENTREGUE"
            }
          ]
        }
      },
      "id": "18c58892-839d-4221-b4e8-c3d8fb86e398",
      "name": "6. Supabase: Atualiza Pedido",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        576,
        3552
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "mesas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('1. Webhook: Finalizar com Serviços').item.json.body.id_mesa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "LIVRE"
            }
          ]
        }
      },
      "id": "57d03678-aa0a-4b52-98e5-e1817798606a",
      "name": "8. Supabase: Libera Mesa",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        992,
        3472
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {}
      },
      "id": "0bec14f5-4401-47ba-87df-a4da2e820bf5",
      "name": "9. Respond: Sucesso!",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1184,
        3568
      ]
    },
    {
      "parameters": {
        "content": "# ADICIONAR/REMOVER PEDIDOS DELIVERY COM TAXA EXTRA",
        "height": 320,
        "width": 1900,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        3840
      ],
      "id": "7d9d08dd-796c-4365-b7fe-d45ff79a8011",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido/adicionar-item",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "12c20362-94f0-4746-987f-3d7e2f777f17",
      "name": "webhook-pedido/adicionar-item",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -608,
        3952
      ],
      "webhookId": "d4011cb1-6e16-4e1e-8432-6d036a48cd44"
    },
    {
      "parameters": {
        "tableId": "itens_pedido",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pedido_id",
              "fieldValue": "={{ $json.body.pedido_id }}"
            },
            {
              "fieldId": "produto_id",
              "fieldValue": "={{ $json.body.produto_id }}"
            },
            {
              "fieldId": "quantidade",
              "fieldValue": "={{ $json.body.quantidade }}"
            },
            {
              "fieldId": "preco_unitario",
              "fieldValue": "={{ $json.body.preco_unitario }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        3952
      ],
      "id": "f52c3567-8acc-4a30-9d8a-12bfcd909ce3",
      "name": "pedido/adicionar-item",
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido/remover-item",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "67c77197-c77f-40d2-ad5b-30352b2a95bb",
      "name": "webhook-pedido/remover-item",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        3936
      ],
      "webhookId": "d4011cb1-6e16-4e1e-8432-6d036a48cd44"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"novo_item_id\": \"{{ $('pedido/adicionar-item').item.json.id }}\"\n}",
        "options": {}
      },
      "id": "a28e6e19-adeb-4cd1-af78-9ee7c3a236c4",
      "name": "9. Respond: Sucesso!1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -176,
        3952
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "itens_pedido",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.item_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        448,
        3936
      ],
      "id": "c719944f-4258-4c02-bce1-1f25e733d7a0",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true\n}",
        "options": {}
      },
      "id": "6669243c-2223-40c5-9922-905f7e4d3514",
      "name": "9. Respond: Sucesso!2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        3936
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "view_pedidos_finalizados",
        "filters": {
          "conditions": [
            {
              "keyName": "data_local",
              "condition": "eq",
              "keyValue": "={{ $json.query.data }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        896
      ],
      "id": "dff1ae8c-734d-4251-9cf9-b8727fbfc638",
      "name": "Busca_Finalizados_Por_Data",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        288,
        896
      ],
      "id": "4fcf83ba-d7f7-40bc-b650-2ed4a175600c",
      "name": "Respond19",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "path": "pedidos/listar-por-data",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -112,
        896
      ],
      "id": "a1cb40f1-272b-4cc8-90a3-5854d16831c3",
      "name": "Webhook-listar-por-data",
      "webhookId": "5bcc7d45-a975-4e09-8589-e58ff8d7fff9"
    },
    {
      "parameters": {
        "path": "pedido/buscar-finalizado-por-codigo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -112,
        1088
      ],
      "id": "7654a27a-13b7-42b3-b456-98d06e89f976",
      "name": "Webhook-buscar-finalizado-codigo",
      "webhookId": "5bcc7d45-a975-4e09-8589-e58ff8d7fff9"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "view_pedidos_finalizados",
        "filters": {
          "conditions": [
            {
              "keyName": "id_pedido_publico",
              "condition": "eq",
              "keyValue": "={{ $json.query.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        1088
      ],
      "id": "555eff0a-b4c8-41dc-94c3-d06e688198f2",
      "name": "Busca_Pedido_Por_Codigo",
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        288,
        1088
      ],
      "id": "1d6a5d63-8e33-47d4-b57a-536409b4366e",
      "name": "Respond_Busca_Codigo"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "pedidos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.pedido.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "entregador_id",
              "fieldValue": "={{ $json.body.whatsapp_entregador }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -432,
        3120
      ],
      "id": "cae4adba-040b-4303-84d3-06d6aa9cba2b",
      "name": "Update-pedidos-financeiro",
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f0318611-3523-427e-b363-efd4058abb08",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        272
      ]
    },
    {
      "parameters": {
        "tableId": "itens_pedido",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "pedido_id",
              "fieldValue": "={{ $json.pedido_id }}"
            },
            {
              "fieldId": "produto_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldId": "quantidade",
              "fieldValue": "={{ $json.quantidade }}"
            },
            {
              "fieldId": "preco_unitario",
              "fieldValue": "={{ $json.preco }}"
            }
          ]
        }
      },
      "id": "cc233076-75f0-4099-8678-3360020a4e1e",
      "name": "4. Registrar Item do Pedido",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        912,
        368
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "mesas",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('2. Create Pedido (Master)1').item.json.id_mesa }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "OCUPADA"
            }
          ]
        }
      },
      "id": "d2c1cc9d-cfe5-485b-8189-f50284dfbe71",
      "name": "6. Update Mesa para Ocupada",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1088,
        176
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {}
      },
      "id": "53db51ed-4e9d-4caf-badb-45ff485446b3",
      "name": "7. Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1312,
        176
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido/lancar-interno",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a0052828-ac85-4ec1-8836-2f0daea71e47",
      "name": "Webhook: Lançar Pedido Interno1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -112,
        272
      ],
      "webhookId": "1f75f359-8633-4e77-ac28-50d8b133a707"
    },
    {
      "parameters": {
        "jsCode": "const randomPart = Math.random().toString(36).substr(2, 6).toUpperCase();\n$input.item.json.body.id_pedido_publico = randomPart;\nreturn $input.item;"
      },
      "id": "364355a6-5e79-44e4-8964-da38cdb47916",
      "name": "1. Generate Public ID1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        272
      ]
    },
    {
      "parameters": {
        "tableId": "pedidos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "id_pedido_publico",
              "fieldValue": "={{ $json.body.id_pedido_publico }}"
            },
            {
              "fieldId": "nome_cliente",
              "fieldValue": "={{ $json.body.origem === 'MESA' ? 'Mesa ' + $json.body.numero_mesa : 'Balcão' }}"
            },
            {
              "fieldId": "total",
              "fieldValue": "={{ $json.body.total }}"
            },
            {
              "fieldId": "origem",
              "fieldValue": "={{ $json.body.origem }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "CONFIRMADO"
            },
            {
              "fieldId": "id_mesa",
              "fieldValue": "={{ $json.body.id_mesa }}"
            },
            {
              "fieldId": "whatsapp_cliente",
              "fieldValue": "PED-INTERNO"
            },
            {
              "fieldId": "garcom_id",
              "fieldValue": "={{ $json.body.garcom_id }}"
            },
            {
              "fieldId": "observacoes",
              "fieldValue": "={{ $json.body.observacoes }}"
            }
          ]
        }
      },
      "id": "867b3053-8b50-409c-ba7c-0cadd0693b58",
      "name": "2. Create Pedido (Master)1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        288,
        272
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const itens = $('1. Generate Public ID1').item.json.body.itens;\nconst pedidoId = $json.id;\nreturn itens.map(item => ({ json: { ...item, pedido_id: pedidoId } }));"
      },
      "id": "01daddc8-7566-42e2-bc28-9a2a17162420",
      "name": "3. Prepare for Loop1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        272
      ]
    },
    {
      "parameters": {
        "content": "# FINALIZAR PEDIDOS COM SERVIÇOS",
        "height": 320,
        "width": 2060,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        3424
      ],
      "id": "f56c1707-bcf5-49e1-a969-22b07d9d919a",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pedido/finalizar-com-servicos",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0462438e-d483-43cd-afb2-73142dd95750",
      "name": "1. Webhook: Finalizar com Serviços",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -624,
        3552
      ],
      "webhookId": "d4011cb1-6e16-4e1e-8432-6d036a48cd44"
    },
    {
      "parameters": {
        "jsCode": "const itens = $json.body.novos_itens || [];\nconst pedidoId = $json.body.pedido_id;\n\nconst itensFormatados = itens.map(item => ({\n  pedido_id: pedidoId,\n  produto_id: item.produto_id,\n  quantidade: item.quantidade,\n  preco_unitario: item.preco_unitario\n}));\n\n// Nomeia a saída para 'data'\n$json.data = itensFormatados;\nreturn $json;"
      },
      "id": "967fdda0-a2ca-47e5-9a75-dfa651254369",
      "name": "2. Prepara Itens de Serviço",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        3552
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe3ce55b-6f47-425f-864e-ce767fb751fb",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        3552
      ],
      "id": "94d08aa8-777b-4120-9a1d-f747379ea9ad",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5149a774-1c1d-40a1-a31f-b0ef1df63d7f",
              "leftValue": "={{ $json.origem }}",
              "rightValue": "MESA",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        3552
      ],
      "id": "f681d356-a290-40d5-9164-2cc634b2829a",
      "name": "7. If (Tem Mesa?)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "409faf71-8acd-4aae-a2c6-49408ab190b3",
              "leftValue": "={{ $('2. Create Pedido (Master)1').item.json.id_mesa }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        176
      ],
      "id": "1e2700a8-573d-4b6b-8824-31e2d35a24f5",
      "name": "5. If Mesa Existe"
    }
  ],
  "pinData": {
    "Webhook: Lançar Pedido Interno1": [
      {
        "json": {
          "headers": {
            "host": "n8n-webhook.uptecnology.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "140",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2804:3d90:6e:9ea1:7569:16a:9255:97b3",
            "cf-ipcountry": "BR",
            "cf-ray": "96bac221efeda4aa-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "origin": "http://127.0.0.1:5500",
            "priority": "u=1, i",
            "referer": "http://127.0.0.1:5500/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2804:3d90:6e:9ea1:7569:16a:9255:97b3, 172.71.10.142",
            "x-forwarded-host": "n8n-webhook.uptecnology.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6081829d9cdd",
            "x-real-ip": "172.71.10.142"
          },
          "params": {},
          "query": {},
          "body": {
            "origem": "BALCAO",
            "nome_cliente": "Balcão",
            "id_mesa": null,
            "numero_mesa": null,
            "itens": [
              {
                "id": 146,
                "quantidade": 1,
                "preco": 10.5
              }
            ],
            "total": 10.5
          },
          "webhookUrl": "https://n8n-webhook.uptecnology.com.br/webhook/pedido/lancar-interno",
          "executionMode": "production"
        }
      }
    ],
    "1. Webhook: Finalizar com Serviços": [
      {
        "json": {
          "headers": {
            "host": "n8n-webhook.uptecnology.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "92",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2804:3d90:6e:9ea1:7569:16a:9255:97b3",
            "cf-ipcountry": "BR",
            "cf-ray": "96ba8a091bb9d66c-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "origin": "http://127.0.0.1:5500",
            "priority": "u=1, i",
            "referer": "http://127.0.0.1:5500/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2804:3d90:6e:9ea1:7569:16a:9255:97b3, 162.158.79.165",
            "x-forwarded-host": "n8n-webhook.uptecnology.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6081829d9cdd",
            "x-real-ip": "162.158.79.165"
          },
          "params": {},
          "query": {},
          "body": {
            "pedido_id": 459,
            "id_mesa": null,
            "forma_pagamento": "DEBITO",
            "novos_itens": [],
            "novo_total": 10
          },
          "webhookUrl": "https://n8n-webhook.uptecnology.com.br/webhook/pedido/finalizar-com-servicos",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook-pedido-buscar-status": {
      "main": [
        [
          {
            "node": "pedido-buscar-status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pedido-buscar-status": {
      "main": [
        [
          {
            "node": "Respond8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cálculo do Total": {
      "main": [
        [
          {
            "node": "create_order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-pedido": {
      "main": [
        [
          {
            "node": "Cálculo do Total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-listar-todos": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_order": {
      "main": [
        [
          {
            "node": "Evolution-criar-id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "LoopItens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "registra-itens": {
      "main": [
        [
          {
            "node": "LoopItens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "junta-itens": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopItens": {
      "main": [
        [
          {
            "node": "Respond-itens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "registra-itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "EM PREPARO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PRONTO",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "A CAMINHO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-send-whatsapp-status": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EM PREPARO": {
      "main": [
        [
          {
            "node": "balaioDeItens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PRONTO": {
      "main": [
        [
          {
            "node": "balaioDeItens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A CAMINHO": {
      "main": [
        [
          {
            "node": "balaioDeItens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution-criar-id": {
      "main": [
        [
          {
            "node": "junta-itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-send-details": {
      "main": [
        [
          {
            "node": "Update-pedidos-financeiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution-entregador": {
      "main": [
        [
          {
            "node": "Respond entregador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Respond-pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "balaioDeItens": {
      "main": [
        [
          {
            "node": "Evolution-status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-pedido-atualizar-status": {
      "main": [
        [
          {
            "node": "pedido-atualizar-status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pedido-atualizar-status": {
      "main": [
        [
          {
            "node": "Respond6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Todos_Itens_Do_Pedido2": {
      "main": [
        [
          {
            "node": "IF_Pedido_Tem_Mesa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-cancelar-pedido-inteiro": {
      "main": [
        [
          {
            "node": "Update_Status_Pedido_Cancelado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_Status_Pedido_Cancelado": {
      "main": [
        [
          {
            "node": "Get_Todos_Itens_Do_Pedido2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_Pedido_Tem_Mesa": {
      "main": [
        [
          {
            "node": "Update_Status_Mesa_Livre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Success3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update_Status_Mesa_Livre": {
      "main": [
        [
          {
            "node": "Respond Success3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Lançar Pedido Interno": {
      "main": [
        [
          {
            "node": "1. Generate Public ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Generate Public ID": {
      "main": [
        [
          {
            "node": "2. Create Pedido (Master)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Create Pedido (Master)": {
      "main": [
        [
          {
            "node": "3. Prepare for Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Split Out Itens": {
      "main": [
        [
          {
            "node": "6. Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Registrar Item do Pedido": {
      "main": [
        [
          {
            "node": "6. Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Loop Over Items": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "5. Registrar Item do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Update Mesa para Ocupada": {
      "main": [
        [
          {
            "node": "9. Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Prepare for Loop": {
      "main": [
        [
          {
            "node": "4. Split Out Itens",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "8. Update Mesa para Ocupada",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "9. Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-atualizar-entregador": {
      "main": [
        [
          {
            "node": "atualizar-entregador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar-entregador": {
      "main": [
        [
          {
            "node": "Respond entregador1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Split Out Itens": {
      "main": [
        [
          {
            "node": "4. Supabase: Insere Serviço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Supabase: Insere Serviço": {
      "main": [
        [
          {
            "node": "5. NoOp (Junta o Loop)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. NoOp (Junta o Loop)": {
      "main": [
        [
          {
            "node": "6. Supabase: Atualiza Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Supabase: Atualiza Pedido": {
      "main": [
        [
          {
            "node": "7. If (Tem Mesa?)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Supabase: Libera Mesa": {
      "main": [
        [
          {
            "node": "9. Respond: Sucesso!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-pedido/adicionar-item": {
      "main": [
        [
          {
            "node": "pedido/adicionar-item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pedido/adicionar-item": {
      "main": [
        [
          {
            "node": "9. Respond: Sucesso!1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-pedido/remover-item": {
      "main": [
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete a row": {
      "main": [
        [
          {
            "node": "9. Respond: Sucesso!2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca_Finalizados_Por_Data": {
      "main": [
        [
          {
            "node": "Respond19",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-listar-por-data": {
      "main": [
        [
          {
            "node": "Busca_Finalizados_Por_Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-buscar-finalizado-codigo": {
      "main": [
        [
          {
            "node": "Busca_Pedido_Por_Codigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Busca_Pedido_Por_Codigo": {
      "main": [
        [
          {
            "node": "Respond_Busca_Codigo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update-pedidos-financeiro": {
      "main": [
        [
          {
            "node": "Evolution-entregador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "5. If Mesa Existe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "4. Registrar Item do Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Registrar Item do Pedido": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Update Mesa para Ocupada": {
      "main": [
        [
          {
            "node": "7. Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Lançar Pedido Interno1": {
      "main": [
        [
          {
            "node": "1. Generate Public ID1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Generate Public ID1": {
      "main": [
        [
          {
            "node": "2. Create Pedido (Master)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Create Pedido (Master)1": {
      "main": [
        [
          {
            "node": "3. Prepare for Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Prepare for Loop1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Webhook: Finalizar com Serviços": {
      "main": [
        [
          {
            "node": "2. Prepara Itens de Serviço",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Prepara Itens de Serviço": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "3. Split Out Itens",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "6. Supabase: Atualiza Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. If (Tem Mesa?)": {
      "main": [
        [
          {
            "node": "8. Supabase: Libera Mesa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "9. Respond: Sucesso!",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. If Mesa Existe": {
      "main": [
        [
          {
            "node": "6. Update Mesa para Ocupada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 60
  },
  "versionId": "330312cb-87e0-4216-961a-5eaa9ffaa582",
  "meta": {
    "instanceId": "f35c92533cab0256f88836bedf74c86f0e573222ebaea24517d8f39614f07eb6"
  },
  "id": "ud6e3cOw5ohySGCH",
  "tags": []
}