n8n/PRODUTOS_CATEGORIA.json
{
  "name": "PRODUTOS/CATEGORIA",
  "nodes": [
    {
      "parameters": {
        "content": "# SUPABASE \n",
        "height": 1208,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        -80
      ],
      "id": "91c11223-7fd1-42b7-8669-18f0a99eca2d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# --- PRODUTOS ---",
        "height": 100,
        "width": 720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        0
      ],
      "id": "ac4c6d11-f0cf-4392-9003-ad0edb214269",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "\n# (Admin) Atualiza um produto existente >>\nupdate_product",
        "height": 100,
        "width": 720,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        352
      ],
      "id": "f9e5e3a3-5c89-4cca-b4a7-d95af4252cb1",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "\n# (Admin) Cria um novo produto >>\ncreate_product",
        "height": 100,
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -704,
        144
      ],
      "id": "bdbebd58-ba81-4830-bf04-e615501f8f2f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "tableId": "produtos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.body.nome }}"
            },
            {
              "fieldId": "preco",
              "fieldValue": "={{ $json.body.preco }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.body.descricao }}"
            },
            {
              "fieldId": "ingredientes",
              "fieldValue": "={{ $json.body.ingredientes }}"
            },
            {
              "fieldId": "imagens_urls",
              "fieldValue": "={{ $json.body.imagens_urls }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.body.categoria_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        128
      ],
      "id": "9767af3b-5219-4178-9b68-89caf856d161",
      "name": "produto-criar",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "produtos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.body.nome }}"
            },
            {
              "fieldId": "categoria_id",
              "fieldValue": "={{ $json.body.categoria_id }}"
            },
            {
              "fieldId": "preco",
              "fieldValue": "={{ $json.body.preco }}"
            },
            {
              "fieldId": "descricao",
              "fieldValue": "={{ $json.body.descricao }}"
            },
            {
              "fieldId": "ingredientes",
              "fieldValue": "={{ $json.body.ingredientes }}"
            },
            {
              "fieldId": "imagens_urls",
              "fieldValue": "={{ $json.body.imagens_urls }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        320
      ],
      "id": "4bc61292-3e25-4711-b3f9-9a3c3d998374",
      "name": "produto-atualizar",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "produto/atualizar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -64,
        320
      ],
      "id": "73ca6b13-3ca0-4bf3-8652-83323363e63a",
      "name": "Webhook-produto-atualizar",
      "webhookId": "5bcc7d45-a975-4e09-8589-e58ff8d7fff9"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"id\": {{ $('produto-criar').item.json.id }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        336,
        128
      ],
      "id": "147053bf-d342-4e19-9ebd-b241d855f251",
      "name": "Respond",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Produto atualizado com sucesso!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        336,
        320
      ],
      "id": "99705896-e437-44e4-a579-619d4871f026",
      "name": "Respond1",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "content": "\n# (Admin) Ativar/Desativar produto >>\ndelete_product",
        "height": 100,
        "width": 720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        528
      ],
      "id": "f101eb18-b351-42c9-90b5-793fd2571012",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "\n# (Cliente/Admin/Caixa) Busca a lista de todos os produtos >> \nget_all_products",
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        720
      ],
      "id": "62026901-47a3-4d55-999f-cf175e7943fd",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        336,
        720
      ],
      "id": "b826a109-4e0f-411b-86c1-422fa7a930d7",
      "name": "Respond3",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "path": "produtos/listar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -64,
        720
      ],
      "id": "261b1c18-e275-47e1-8cb5-a36ad1732557",
      "name": "Webhook-produtos-listar",
      "webhookId": "5bcc7d45-a975-4e09-8589-e58ff8d7fff9"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "view_produtos_vitrine",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "ativo",
              "condition": "is",
              "keyValue": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        720
      ],
      "id": "edb96ec2-c352-48fa-b69d-a3590ac4cb12",
      "name": "produtos-listar",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "produto/criar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -64,
        128
      ],
      "id": "d3450b3f-d16c-4644-a153-8e9d8198c7f3",
      "name": "Webhook-produto-criar",
      "webhookId": "5bcc7d45-a975-4e09-8589-e58ff8d7fff9"
    },
    {
      "parameters": {
        "content": "\n# (Cliente/Admin/Caixa) listar com tipo >> \nprodutos/listar-com-tipo",
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        928
      ],
      "id": "24f480a5-750b-4861-acd7-ebee22afb381",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        336,
        928
      ],
      "id": "8eb1eafc-d7cf-45ec-80f1-c5cb23f12543",
      "name": "Respond17",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "path": "produtos/listar-com-tipo",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -64,
        928
      ],
      "id": "a68af130-1595-4f91-925c-bf78aaa5e507",
      "name": "Webhook-produtos-listar-com-tipo",
      "webhookId": "5bcc7d45-a975-4e09-8589-e58ff8d7fff9"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "view_produtos_com_categoria",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        928
      ],
      "id": "45154453-b40f-4ce9-bc82-743e4d48e542",
      "name": "produtos-listar-com-tipo",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Produto alterado com sucesso!\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        336,
        528
      ],
      "id": "14839add-b3e4-4950-b4d3-baae075a2be4",
      "name": "Respond4",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "produto/alternar-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -64,
        528
      ],
      "id": "1959e45c-b313-4c59-8f06-0da7982c794b",
      "name": "Webhook-produto/alternar-status",
      "webhookId": "5bcc7d45-a975-4e09-8589-e58ff8d7fff9"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "produtos",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ativo",
              "fieldValue": "={{ $json.body.novo_status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        528
      ],
      "id": "27abaff1-02b1-4177-ae09-6182cdfac91f",
      "name": "produto/alternar-status",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# SUPABASE \n",
        "height": 1484,
        "width": 976,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        -80
      ],
      "id": "0531009e-8211-4bdd-88c6-d4a30faff8c8",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "content": "# --- CATEGORIAS PRODUTOS\n ---",
        "height": 100,
        "width": 720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1312,
        0
      ],
      "id": "30ab0355-a324-49cc-a586-8a7d6b10362a",
      "name": "Sticky Note41"
    },
    {
      "parameters": {
        "content": "\n# GET LISTAR CATEGORIAS >>\nget_all_categories",
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        128
      ],
      "id": "767d000d-9605-4c68-bfd5-32ac047153ef",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "content": "\n# CREATE CRIAR CATEGORIAS >>\ncreate_category",
        "width": 580,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        352
      ],
      "id": "27f3278d-d619-46df-992c-5e09ac52775a",
      "name": "Sticky Note43"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "92dd28da-afd1-4860-9c14-03cd24f75639",
      "name": "Respond GET2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        1728,
        144
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "view_categorias_ordenadas"
      },
      "id": "d523feba-0c87-4950-bb1e-da3909b64d59",
      "name": "Get-categorias-listar",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1552,
        144
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "path": "categorias/listar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "acd92a85-6bb9-45b0-b65f-9f5edafe6564",
      "name": "webhook-categorias-listar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1376,
        144
      ],
      "webhookId": "09f83f1d-f88a-4c22-9214-93836d52f6c8"
    },
    {
      "parameters": {
        "content": "\n# UPDATE ATUALIZAR CATEGORIAS >>\nupdate_category",
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        560
      ],
      "id": "15cc4b7b-a7e0-4796-b32b-6e657033df79",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "7a24e198-b46e-4579-b906-28e1d8a09a59",
      "name": "Respond UPDATE3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1712,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "categoria/atualizar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "21e7e804-4df0-47f9-acf3-378787563bf7",
      "name": "webhook-categoria-atualizar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1376,
        560
      ],
      "webhookId": "2338ff91-10c0-4e76-80f0-802ba06d4e41"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "categorias",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.body.nome }}"
            },
            {
              "fieldId": "cor_fundo",
              "fieldValue": "={{ $json.body.cor_fundo }}"
            },
            {
              "fieldId": "url_icone",
              "fieldValue": "={{ $json.body.url_icone }}"
            }
          ]
        }
      },
      "id": "614c2dd3-84ed-4abb-8287-a0e1f9e6b6ab",
      "name": "categoria-atualizar",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1536,
        560
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "content": "\n# REORDENAR CATEGORIAS >>\nreorder_categories",
        "height": 416,
        "width": 1540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        768
      ],
      "id": "c2da23e5-f95c-4842-bac3-ed29d04284b5",
      "name": "Sticky Note45"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "4171b240-d565-450f-829c-7a81e3c37cbb",
      "name": "Respond UPDATE4",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2112,
        816
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "categorias",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Preparador_de_Fila').item.json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ordem_exibicao",
              "fieldValue": "={{ $('Preparador_de_Fila').item.json.nova_ordem }}"
            }
          ]
        }
      },
      "id": "c7460cdf-080f-4f71-b971-e67849d19ef2",
      "name": "categoria-reordenar",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2112,
        960
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "categorias/reordenar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f5a583a2-7b39-4673-98c0-3da54a920619",
      "name": "webhook-categoria-reordenar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1376,
        832
      ],
      "webhookId": "2338ff91-10c0-4e76-80f0-802ba06d4e41"
    },
    {
      "parameters": {
        "jsCode": "\nconst idsOrdenados = $json.body.ordem;\n\nconst itensParaAtualizar = idsOrdenados.map((id, index) => ({ \n  'id': id,\n  'nova_ordem': index \n}));\n\n// Retorna a lista de objetos diretamente.\nreturn itensParaAtualizar;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        832
      ],
      "id": "5cece5c0-0d90-4486-b693-d2826a21e4e5",
      "name": "Preparador_de_Fila"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "categoria/criar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "51fc8616-a2d1-4e8c-be77-82d1051c4a23",
      "name": "1. Webhook: Pedido Chega",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1376,
        352
      ],
      "webhookId": "2338ff91-10c0-4e76-80f0-802ba06d4e41"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "view_ordem_maxima_categoria"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1552,
        352
      ],
      "id": "393e308e-4c33-4c78-9e2d-b54a56af6cda",
      "name": "2. Espião (Get Max Ordem)",
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pega os dados do nó anterior (o nosso \"Espião\" que agora usa a VIEW)\nconst resultadoDaView = $input.first().json;\n\n// Pega os dados que vieram originalmente do nosso painel admin\n// IMPORTANTE: Mude o nome '1. Webhook: Pedido Chega' se o seu for diferente!\nconst webhookData = $('1. Webhook: Pedido Chega').item.json.body;\n\n// Pega o valor máximo diretamente da view.\nconst maxOrdem = resultadoDaView.max_ordem;\n\n// Calcula a próxima posição na fila\nconst novaOrdem = maxOrdem + 1;\n\n// Monta o pacote final de dados para enviar ao Supabase\nconst payloadFinal = {\n  ...webhookData,\n  ordem_exibicao: novaOrdem\n};\n\n// Retorna o pacote completo para o próximo nó\nreturn payloadFinal;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        352
      ],
      "id": "d89fd21b-f841-4d29-9527-ae915ec4b51a",
      "name": "3. O Matemático (Prepara Dados)"
    },
    {
      "parameters": {
        "tableId": "categorias",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "nome",
              "fieldValue": "={{ $json.nome }}"
            },
            {
              "fieldId": "cor_fundo",
              "fieldValue": "={{ $json.cor_fundo }}"
            },
            {
              "fieldId": "url_icone",
              "fieldValue": "={{ $json.url_icone }}"
            },
            {
              "fieldId": "ordem_exibicao",
              "fieldValue": "={{ $json.ordem_exibicao }}"
            }
          ]
        }
      },
      "id": "49c53e34-7704-46e3-bba1-e07b2955ff85",
      "name": "4. O Criador (Supabase Create)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1904,
        352
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "id": "c76f1d2e-538d-4daf-b66b-df7b84921c91",
      "name": "5. Respond (Sucesso!)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2096,
        352
      ]
    },
    {
      "parameters": {
        "content": "\n# DELET CATEGORIAS >>\ndelete_category",
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        1216
      ],
      "id": "1196ea3b-41d2-4b13-8128-d81f489ebbe5",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": true}",
        "options": {}
      },
      "id": "551b5649-2f92-4fbc-be85-1023f55f4270",
      "name": "Respond UPDATE5",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        1216
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "categoria/deletar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8a6ed300-9423-4139-817f-e1866f6a5913",
      "name": "webhook-categoria-deletar",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1376,
        1216
      ],
      "webhookId": "2338ff91-10c0-4e76-80f0-802ba06d4e41"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "categorias",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.body.id }}"
            }
          ]
        }
      },
      "id": "0480ac71-e4b3-4d38-a61a-1577ebb06b1f",
      "name": "categoria-deletar",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1600,
        1216
      ],
      "credentials": {
        "supabaseApi": {
          "id": "g0FS6Ben3C2P37Gh",
          "name": "Supabase"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1776,
        832
      ],
      "id": "b4e38732-7346-4b94-b30e-f449d6ae906f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1936,
        832
      ],
      "id": "d925fc05-d63d-42b9-b223-aa5ac7fcea17",
      "name": "Loop Over Items2"
    }
  ],
  "pinData": {
    "webhook-categoria-reordenar": [
      {
        "json": {
          "headers": {
            "host": "n8n-webhook.uptecnology.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "27",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "cache-control": "no-cache",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2804:3d90:fff0:3261:3032:e990:2d72:54d0",
            "cf-ipcountry": "BR",
            "cf-ray": "95f2cf8b28bea49c-GRU",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "origin": "http://127.0.0.1:5500",
            "pragma": "no-cache",
            "priority": "u=1, i",
            "referer": "http://127.0.0.1:5500/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2804:3d90:fff0:3261:3032:e990:2d72:54d0, 172.71.10.235",
            "x-forwarded-host": "n8n-webhook.uptecnology.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "6081829d9cdd",
            "x-real-ip": "172.71.10.235"
          },
          "params": {},
          "query": {},
          "body": {
            "ordem": [
              "9",
              "7",
              "8",
              "6"
            ]
          },
          "webhookUrl": "https://n8n-webhook.uptecnology.com.br/webhook/categorias/reordenar",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "produto-criar": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "produto-atualizar": {
      "main": [
        [
          {
            "node": "Respond1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-produto-atualizar": {
      "main": [
        [
          {
            "node": "produto-atualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-produtos-listar": {
      "main": [
        [
          {
            "node": "produtos-listar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "produtos-listar": {
      "main": [
        [
          {
            "node": "Respond3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-produto-criar": {
      "main": [
        [
          {
            "node": "produto-criar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-produtos-listar-com-tipo": {
      "main": [
        [
          {
            "node": "produtos-listar-com-tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "produtos-listar-com-tipo": {
      "main": [
        [
          {
            "node": "Respond17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook-produto/alternar-status": {
      "main": [
        [
          {
            "node": "produto/alternar-status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "produto/alternar-status": {
      "main": [
        [
          {
            "node": "Respond4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get-categorias-listar": {
      "main": [
        [
          {
            "node": "Respond GET2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-categorias-listar": {
      "main": [
        [
          {
            "node": "Get-categorias-listar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-categoria-atualizar": {
      "main": [
        [
          {
            "node": "categoria-atualizar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categoria-atualizar": {
      "main": [
        [
          {
            "node": "Respond UPDATE3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categoria-reordenar": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-categoria-reordenar": {
      "main": [
        [
          {
            "node": "Preparador_de_Fila",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparador_de_Fila": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Webhook: Pedido Chega": {
      "main": [
        [
          {
            "node": "2. Espião (Get Max Ordem)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Espião (Get Max Ordem)": {
      "main": [
        [
          {
            "node": "3. O Matemático (Prepara Dados)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. O Matemático (Prepara Dados)": {
      "main": [
        [
          {
            "node": "4. O Criador (Supabase Create)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. O Criador (Supabase Create)": {
      "main": [
        [
          {
            "node": "5. Respond (Sucesso!)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "webhook-categoria-deletar": {
      "main": [
        [
          {
            "node": "categoria-deletar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "categoria-deletar": {
      "main": [
        [
          {
            "node": "Respond UPDATE5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [
          {
            "node": "Respond UPDATE4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "categoria-reordenar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 60
  },
  "versionId": "4b383aa1-6949-4214-aefb-2e2c7840468c",
  "meta": {
    "instanceId": "f35c92533cab0256f88836bedf74c86f0e573222ebaea24517d8f39614f07eb6"
  },
  "id": "JXvk9L6glyvHd7Eu",
  "tags": []
}